/* From uiverse.io by @shah1345 */
.neo-button {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
               -6px -6px 12px #ffffff;
  }
  
  .neo-button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
               inset -4px -4px 12px #ffffff;
  }
  
  .neo-button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .neo-button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }

  .green-button:after
  {
    background-color: #02c23f;
  }
  .red-button::after
  {
    background-color: #c21202;
  }
  
  .neo-button:hover {
    color: #ffffff;
    border: 1px solid;
  }

  .green-button:hover
  {
    border-color: #02c23f;
  }
  .red-button:hover
  {
    border-color: #c21202;
  }
  
  .neo-button:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

  .green-button:hover:before
  {
    background-color: #02c23f;
  }
  .red-button:hover:before
  {
    background-color: #c21202;
  }
  
  .neo-button:hover:after {
    top: -45%;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .green-button:hover:after
  {
    background-color: #02c23f;
  }
  .red-button:hover:after
  {
    background-color: #c21202;
  }
